<div class="address-container">
    <b>Address: {{street}} ,{{city}} ,{{state}} ,{{pin}}</b>&nbsp;
    <button class="place-order-button" (click)="addAddress()">{{isaddress?'Change':'Add'}}</button>
</div>
<div style="font-size: 30px; font-weight: bold; text-align: center; margin-top: 20px; padding-bottom: 10px;">
    Cart
</div>
<div style="width: 50%; margin-top: 20px;" class="card" *ngIf="items">
    <!-- Card body -->
    <div style="display: flex;" >
        <img alt="{{title}}" src="{{url}}"
             width="320" />
        <div style="flex: 1;">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">{{title}}</h3>
            </div>
            
            <div class="quantity-controls" style="margin-top: 50%; margin-right: 20px; margin-bottom: 20px;">
                <div style="margin-bottom: 10px; background-color: #D2B48C;">
                    <b>Price: {{price | currency:'INR'}}</b>
                </div>
                <button (click)="OnRemove()">Remove</button>
                Quantity:
                <button class="btn btn-primary control-button" (click)="plus()">+</button>
                <input type="text" style="width: 20px;" [(ngModel)]="inputnumber">
                <button class="btn btn-primary control-button" (click)="minus()">-</button>
            </div>
        </div>
    </div>
</div>

<div class="place-order-container" *ngIf="items else placeElse">
    <b>Total Price: {{totalcost | currency:'INR'}}</b>&nbsp;
    <button class="place-order-button" (click)="placeOrder()">Proceed to Pay</button>
</div>
<ng-template #placeElse>
    <div style="text-align: center; height: 350px; margin-bottom: 10px;">
        <b style="padding-top: 20px;">Cart is empty.</b>
    </div>
</ng-template>