<mat-toolbar style="background-color:#5C3317; color:white;">
    <span>UTIN Solution's</span>
    <span class="toolbar-item-spacer"></span>
    <button mat-button routerLink="/dashboard/home" routerLinkActive="active-link">Home</button>
    <button mat-button routerLink="offers" *ngIf="role === 'admin' else OffersElse" routerLinkActive="active-link">Add Offers</button>
    <ng-template #OffersElse>
      <button mat-button routerLink="offers" routerLinkActive="active-link">Offers</button>
    </ng-template>
    <button mat-button *ngIf="role === 'admin' else ContactElse" routerLink="portfolio" routerLinkActive="active-link">Portfolio</button>
    <ng-template #ContactElse>
      <button mat-button routerLink="contact-us" routerLinkActive="active-link">Contact us</button>
    </ng-template>
    <button mat-button routerLink="order" *ngIf="role === 'admin' else CartElse" routerLink="/dashboard/orders"routerLinkActive="active-link">Order</button>
    <ng-template #CartElse>
      <button mat-button routerLink="cart" routerLinkActive="active-link">Cart</button>
    </ng-template>
    
    <span class="toolbar-item-spacer"></span>
    <button mat-icon-button matTooltip="Share">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications" *ngIf="role === 'admin' else NotifyElse" routerLink="notification">
        <mat-icon>notifications</mat-icon>
        <div class="red-dot" *ngIf="notifycount>0">{{notifycount}}</div>
    </button>
    <ng-template #NotifyElse>
      <button mat-icon-button matTooltip="Notifications" >
        <mat-icon>notifications</mat-icon>
        <div class="red-dot" *ngIf="countOffer>0"></div>
      </button>
    </ng-template>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu" *ngIf="role === 'admin' else profileElse">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="/dashboard/profile">
            <mat-icon>person</mat-icon><span>{{firstname | uppercase}}</span>
        </button>
        <button mat-menu-item (click)="changepwd()">
            <mat-icon>settings</mat-icon><span>Change Password</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>
    <ng-template #profileElse>
      <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="/dashboard/profile">
            <mat-icon>person</mat-icon><span>{{firstname | uppercase}}</span>
        </button>
        <button mat-menu-item (click)="changepwd()">
            <mat-icon>settings</mat-icon><span>Change Password</span>
        </button>
        <button mat-menu-item routerLink="/dashboard/orders">
          <mat-icon>shopping_basket</mat-icon><span>Orders</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>Logout
        </button>
      </mat-menu>
    </ng-template>
  </mat-toolbar>

  <div style="background-color: #D2B48C;">
    <!-- <app-home></app-home> -->
    <router-outlet></router-outlet>
  </div>
  
  <footer style="background-color: #C19A6B; text-align: center; position: relative;">
    <!-- Grid container -->
    <div style="height: 40px;">
      <!-- Section: Social media -->
      <section style="padding-top:10px;">
        <!-- Facebook -->
        <a style="padding-right: 20px;"
          href="#!"
          role="button"
        ><i class="material-icons">facebook</i
        ></a>
  
        <!--call -->
        <a  style="padding-right: 20px;"
          href="tel:+917507008076"
          role="button"
        ><i class="material-icons">call</i>
        </a>

        <a
          href="https://maps.app.goo.gl/SLCU4s3kLMveMjx49"
          role="button"
        ><i class="material-icons">place</i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div style="background-color: rgba(0, 0, 0, 0.2); height: 30px;">
      © 2024 Copyright:
      <a style="color:white"><b>UTIN Solution's pvt.ltd.</b></a>
    </div>
    <!-- Copyright -->
  </footer>