.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

button:hover {
    background-color: #804A00; /* Darker color on hover */
}

button{
    margin-left: 5px;
}

/* routerLinkActive  */
.active-link {
    background-color: #804A00; /* Add your desired styling for active links */
    color: white;
  }
