<div class="container">
    <h1 style="text-align: center;">Address:</h1>
    <form (ngSubmit)="submitForm()" #addressForm="ngForm">
      <!-- Street -->
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" id="street" name="street" [(ngModel)]="address.street" required>
      </div>
  
      <!-- City -->
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" [(ngModel)]="address.city" required>
      </div>
  
      <!-- State -->
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" id="state" name="state" [(ngModel)]="address.state" required>
      </div>
  
      <!-- Zip Code -->
      <div class="form-group">
        <label for="zipCode">Zip Code:</label>
        <input type="text" id="zipCode" name="zipCode" [(ngModel)]="address.zipCode" required>
      </div>
  
      <!-- Submit Button -->
      <button type="submit">Submit</button>
    </form>
</div>