<div class="home">
    <div style="padding-top: 30px; padding-left: 30px;" *ngIf="role === 'user' else headingElse">
        <h1><b>Welcome {{firstname}} have your meal here,</b></h1>
    </div>
    <ng-template #headingElse>
      <div style="padding-top: 30px; padding-left: 30px;">
        <h1><b>Welcome {{firstname}},</b></h1>
    </div>
    </ng-template>
    <div style="text-align: center; ">
        <img src="https://asset2.cxnmarksandspencer.com/is/image/mands/09052023_0537_SB-33021_997x425-cafe?$editorial_997x425$" style="width: 99.5%; height: 400px;">
    </div>

    <div style="font-size: 30px; font-weight: bold; margin-top: 30px; margin-bottom: 20px; text-align: center;">
      MENU
    </div>
    <hr>
    <div style="display: flex; justify-content: center; align-items: center;">
      <button class="card-button" (click)="addMenu()" *ngIf="role==='admin'">Add Menu</button>
    </div>
    <div style="margin-top: 10px; display: flex; justify-content: center; align-items: center;">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pizza"  #input>
      </mat-form-field>
    </div> 
    <div class="row" style="display: flex; justify-content: center; align-items: center;" *ngIf="role ==='admin' else Else">
        <div style="display: flex; flex-wrap: wrap;">
            <div style="flex: 1;" *ngFor="let items of menu ">
                <div class="card-container">
                    <div class="card">
                      <div class="card-content">
                        <img [src]="items.image" [alt]="items.title">
                        <h3 class="card-title">{{items.title}}</h3>
                        <p class="card-price">{{items.price | currency:'INR'}}</p>
                        <!-- <a href="#" class="card-button">Add to Cart</a> -->
                        <!-- <button class="card-button" (click)="OnaddCart(items)">Add to Cart</button> -->
                        <div>
                          <mat-icon style="color: blue;" (click)="onEdit(items)" fontIcon="edit"></mat-icon>&nbsp;
                          <mat-icon style="color: red;" (click)="onDelete(items.id)" fontIcon="delete"></mat-icon>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #Else>
      <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; flex-wrap: wrap;">
            <div style="flex: 1;" *ngFor="let items of menu ">
                <div class="card-container">
                    <div class="card">
                      <div class="card-content">
                        <img [src]="items.image" [alt]="items.title">
                        <h3 class="card-title">{{items.title}}</h3>
                        <p class="card-price">{{items.price | currency:'INR'}}</p>
                        <!-- <a href="#" class="card-button">Add to Cart</a> -->
                        <button class="card-button" (click)="OnaddCart(items)">Add to Cart</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ng-template>
    <!-- <div class="row"  style="display: flex; justify-content: center;">
        <div style="display: flex;">
            <div style="flex: 1;">
                <div class="card-container">
                    <div class="card">
                      <div class="card-image" style="background-image: url('https://unsplash.com/images/food/sandwich');"></div>
                      <div class="card-content">
                        <h3 class="card-title">Sandwich</h3>
                        <p class="card-price">$5.00</p>
                        <a href="#" class="card-button">BUY NOW</a>
                      </div>
                    </div>
                </div>
            </div>
            <div style="flex:2;">
                <div class="card-container">
                    <div class="card">
                      <div class="card-image" style="background-image: url('https://unsplash.com/images/food/sandwich');"></div>
                      <div class="card-content">
                        <h3 class="card-title">Sandwich</h3>
                        <p class="card-price">$5.00</p>
                        <a href="#" class="card-button">BUY NOW</a>
                      </div>
                    </div>
                </div>
            </div>
            <div style="flex:3;">
                <div class="card-container">
                    <div class="card">
                      <div class="card-image" style="background-image: url('https://unsplash.com/images/food/sandwich');"></div>
                      <div class="card-content">
                        <h3 class="card-title">Sandwich</h3>
                        <p class="card-price">$5.00</p>
                        <a href="#" class="card-button">BUY NOW</a>
                      </div>
                    </div>
                </div>
            </div>
            <div style="flex:4;">
                <div class="card-container">
                    <div class="card">
                      <div class="card-image" style="background-image: url('https://unsplash.com/images/food/sandwich');"></div>
                      <div class="card-content">
                        <h3 class="card-title">Sandwich</h3>
                        <p class="card-price">$5.00</p>
                        <a href="#" class="card-button">BUY NOW</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div>
      <hr>
    </div>
</div>

