.row{
    display: flex;
    gap: 10px;

    mat-form-field{
        width: 100%;
    }
}

.content{
    padding-top: 10px;
}

.actions{
    padding: 0px 25px 20px;
    width: 100%;
    
    button{
        flex:1;
        width:43%;
        
    }
}

a{
    color:blue;
}

img{
    transform: scale(1);
    transition: transform 0.3s
    ease-in-out;
}

img:hover{
    transform: scale(0.9);
}