.offer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    max-width: 800px;
    margin: 10px auto;
    padding-bottom: 20px;
}

.offer-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.offer-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.offer-details {
    padding: 15px;
}

.offer-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.offer-description {
    color: #555;
    font-size: 24px;
    font-weight: bold;
}

.offer-price {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actual-price {
    color: #e44d26;
    text-decoration: line-through;
    font-size: 24px;
}

.discounted-price {
    color: green;
    font-weight: bold;
    font-size: 24px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5C3317;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    /* margin-left: 45%; */
  }