<h1 style="font-weight: bold; padding-top: 10px; font-size: 24px; margin-left: 20px;">Cafe Offers: </h1>

<div *ngIf="role === 'admin' else offerElse">
    <div>
        <button class="card-button">Add Menu</button>
    </div>
    <div class="offer-container">
        <!-- Offer 1 -->
        <div class="offer-card" *ngFor="let value of offers">
            <!-- <img src="offer1.jpg" alt="Offer 1" class="offer-image"> -->
            <div class="offer-details">
                <div style="text-align: end;">
                    <mat-icon style="color: blue;" fontIcon="edit"></mat-icon>&nbsp;
                    <mat-icon style="color: red;" (click)="OnDelete(value.id)" fontIcon="delete"></mat-icon>
                </div>
                <div class="offer-title">{{value.title}} :</div>
                <div class="offer-description">{{value.item1}} + {{value.item2}}</div>
                <div class="offer-price">
                    <span class="actual-price">{{value.actual_price | currency:'INR'}}</span>
                    <span class="discounted-price">{{value.discounted_price | currency:'INR'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #offerElse>
    <div class="offer-container">
        <!-- Offer 1 -->
        <div class="offer-card" *ngFor="let value of offers">
            <!-- <img src="offer1.jpg" alt="Offer 1" class="offer-image"> -->
            <div class="offer-details">
                <div class="offer-title">{{value.title}} :</div>
                <div class="offer-description">{{value.item1}} + {{value.item2}}</div>
                <div class="offer-price">
                    <span class="actual-price">{{value.actual_price | currency:'INR'}}</span>
                    <span class="discounted-price">{{value.discounted_price | currency:'INR'}}</span>
                </div>
                <div style="text-align: end;">
                    <button  class="card-button" (click)="OnaddCart(value)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

</ng-template>