  <div *ngIf="role === 'admin'">
  <div *ngFor="let item of orderData" class="card-container">
      <mat-card class="horizontal-card">
        <mat-card-content>
          <p><b>Item Name: </b>{{ item.details[0].item_name | titlecase}} &nbsp;&nbsp;
          <b>Count: </b>{{ item.details[0].count }}</p>
          <p><b>Total Cost: </b>{{item.details[0].totalcost | currency:'INR'}}&nbsp;&nbsp;
          <b>Status: </b>{{ item.details[0].status | titlecase }}</p>
          <p><b>Address:</b>
              {{ item.details[0].address[0].street }},
              {{ item.details[0].address[0].city }},
              {{ item.details[0].address[0].state }},
              {{ item.details[0].address[0].pinCode }}.</p>
        </mat-card-content>
        <div style=" gap:10px; margin-bottom: 10px; margin-left: 10px; margin-right: 10px; text-align: end;" *ngIf="item.details[0].status === 'placed'">
            <button mat-button style="flex:1; background-color:#5C3317; color: white;" (click)="OnConfirm(item.id)">Confirm</button>&nbsp;
            <button mat-button style="flex:1; background-color:#5C3317; color: white;">Cancel</button>
        </div>
          <div style="gap:10px; margin-bottom: 10px; text-align: end; margin-right: 10px;" *ngIf="item.details[0].status === 'Confirm'">
              <button mat-button style="background-color:#5C3317; color: white;" (click)="OnProcess(item.id)">Food In Process</button>
          </div>
          <div style="gap:10px; margin-bottom: 10px; text-align: end; margin-right: 10px;" *ngIf="item.details[0].status === 'Food In Process'">
              <button mat-button style="background-color:#5C3317; color: white;" (click)="OnDelivery(item.id)">Out For Delivery</button>
          </div>
          <div style="gap:10px; margin-bottom: 10px; text-align: end; margin-right: 10px;" *ngIf="item.details[0].status === 'Delivered'">
              <button mat-button style="background-color:#5C3317; color: white;">Delivered</button>
          </div>
      </mat-card>
  </div>
</div>

<div *ngIf="role === 'user'">
  <div *ngFor="let item of userOrder" class="card-container">
    <mat-card class="horizontal-card">
      <mat-card-content>
        <p><b>Item Name: </b>{{ item.details[0].item_name | titlecase}}&nbsp;
        <b>Count: </b>{{ item.details[0].count }}</p>
        <p><b>Total Cost: </b>{{item.details[0].totalcost |currency:'INR'}}</p>
      </mat-card-content>
      <div style="text-align: end; gap:10px; margin-bottom: 10px; margin-left: 10px; margin-right: 10px;">
          <b>Status: </b><button mat-button style="flex:1; background-color:#5C3317; color: white;">{{ item.details[0].status }}</button>
      </div>
    </mat-card>
  </div>
</div>